/* Globales */
body {
    font-family: 'Dancing Script', cursive;
    font-size: 18px;
    background-color: #02010a;
    width: 900px;
    margin: 0 auto;
}


/* Encabezado */

.encabezadoHeader {
    background-color: #5b7989;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color:  #ffffff;
}

.encabezadoHeader h1 {
    text-shadow: 2px 2px #02010a;
    margin: 10px 0;
}

.barra a {
    text-decoration: none;
    margin-right: 10px;
    color: #ffffff;
}

.barra a:hover {
    color: #71B100;
}

.barra a:last-of-type {
    margin: 0;
}

/* Imagenes */

.contendido {
    display: flex;
	flex-direction: column;
}

.contenedor {
    display: flex;
    width: 100%;
}

.imagen1 {
    background-color: #82c3a6;
    padding: 20px;
}

.imagen1 img {
    width: 75%;
    margin: 0 auto;
    box-shadow: 2px 2px #02010a;
}

.imagen2 {
    background-color: #d5c75f;
    flex-basis: 50%;
}
.imagen3 figure, .imagen4 figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagen3 figure img {
    width: 80%;
    border: 1px solid #000000;
    margin: 10px;
    transition: transform 1s;
    box-shadow: 2px #02010a;
}

.imagen3 img:hover {
    transform: rotate(10deg);
    box-shadow: 2px #82c3a6;
}

.imagen4 figure img {
    width: 75%;
    border: 1px solid #000000;
    margin: 10px;
    transition: transform 1s;
    box-shadow: 2px #02010a;
}

.imagen4 img:hover {
    transform: translate(20px, -5px);
    box-shadow: 2px #82c3a6;
}

@media (min-width: 900px) {
    .imagen3, .imagen4 {
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;
    }
    
}