/* Globales */
body {
    font-family: 'Dancing Script', cursive;
    font-size: 18px;
}


/* Encabezado */

.encabezadoHeader {
    background-color: #5b7989;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color:  #ffffff;
}

.encabezadoHeader h1 {
    text-shadow: 2px 2px #02010a;
    margin: 10px 0;
}

.barra a {
    text-decoration: none;
    margin-right: 10px;
    color: #ffffff;
}

.barra a:hover {
    color: #71B100;
}

.barra a:last-of-type {
    margin: 0;
}

/* Imagenes */

.contendido {
    display: flex;
	flex-direction: column;
}

.contenedor {
    display: flex;
    width: 100%;
}

.imagen1 {
    background-color: #82c3a6;
}
.imagen1 img {
    width: 75%;
    padding: 10px;
    margin: 0 auto;
}

.imagen2 {
    background-color: #d5c75f;
    flex-basis: 50%;
}
.imagen3, .imagen4 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagen3 img {
    width: 80%;
    border: 1px solid #000000;
    margin: 10px;
}

.imagen4 img {
    width: 75%; 
    border: 1px solid #000000;
    margin: 10px;
}

